%table
  %thead
    %tr
      %th First Name
      %th Middle Name
      %th Last Name
      %th Suffix
  %tbody
    - @firm.attorneys.each do |attorney|
      %tr
        %td= attorney.first_name
        %td= attorney.middle_name
        %td= attorney.last_name
        %td= attorney.suffix

%br
%h4 Add an Attorney:
= form_for [@firm, Attorney.new], html: { id: 'attorney-form' } do |f|
  %p
    = f.label :first_name
    %br
    = f.text_field :first_name

  %p
    = f.label :middle_name
    %br
    = f.text_field :middle_name

  %p
    = f.label :last_name
    %br
    = f.text_field :last_name

  %p
    = f.label :suffix
    %br
    = f.text_field :suffix

  = f.submit "Add Attorney"
