%table.table.table-compact.text-center
  %thead
    %tr
      %th First Name
      %th Middle Name
      %th Last Name
      %th Suffix
      %th Clients
  %tbody
    - @firm.attorneys.each do |attorney|
      %tr
        %td= attorney.first_name
        %td= attorney.middle_name
        %td= attorney.last_name
        %td= attorney.suffix
        %td= attorney.clients.count

.card.bg-neutral.flex.place-items-center{ class: 'w-2/6' }
  .card-body
    %h4.text-3xl.border-b.border-accent.card-title Add an Attorney
    = form_for [@firm, Attorney.new], html: { id: 'attorney-form' } do |f|
      .grid.grid-cols-2.gap-8
        .field
          = f.label :first_name, class: 'label'
          = f.text_field :first_name, class: 'input'

        .field
          = f.label :middle_name, class: 'label'
          = f.text_field :middle_name, class: 'input'

        .field
          = f.label :last_name, class: 'label'
          = f.text_field :last_name, class: 'input'

        .field
          = f.label :suffix, class: 'label'
          = f.text_field :suffix, class: 'input'

      .card-actions.justify-center.pt-4
        = f.submit "Add Attorney", class: 'btn btn-primary'
