!!!
%html.w-full.h-full{ data: { theme: :forest } }
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LawFirmTdd
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
    - if Rails.env.development?
      = hotwire_livereload_tags
  %body.grid.place-items-center.w-full.h-full
    - if notice
      .alert.alert-success= notice
    - if alert
      .alert.alert-danger= alert
    = yield
