!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LawFirmTdd
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %link{ :rel => 'stylesheet', :href => 'https://cdn.simplecss.org/simple.min.css' }/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body
    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

    %header
      %h1.text-3xl
        = link_to @firm.name, root_path
      %nav
        = link_to 'Attorney List', attorneys_list_path
        = link_to 'About Us', about_us_path
        = link_to "Log Out", destroy_user_session_path, method: :delete

    %main
      = yield
